@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Roboto+Slab:wght@300;400&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #1D3557;
  font-size: 16px;
  background-color: #1D3557
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h1 {
  color: #E63946;
  font-size: 48px;
}

h2 {
  color: #457B9D;
  font-size: 32px;
}

a:link, a:visited {
  color: #E63946;
  text-decoration: none;
}

a:hover {
  color: #A8DADC;
  text-decoration: none;
}

.img-circle {
  object-fit: cover;
  object-position: 70px, 100px;
  border-radius: 50%;
  width: 170;
  height: 170;
  margin: 0 auto;
  margin-bottom: 5%;
}

.container {
  max-width: 570px;
  margin: auto;
}

.card {
  background-color: #f1faee;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  margin: 40px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 32px;
  list-style: none;
  padding-left: 0px;
  font-size: 32px;
}

.btn-red {
  background-color: #E63946;
  padding: 16px;
  width: 30%;
  margin: auto;
  border-radius: 8px;
  margin-top: 5%;

}

.btn-red:hover {
  background-color: #A8DADC;
  padding: 16px;
  width: 30%;
  margin: auto;
  border-radius: 8px;
  margin-top: 5%;
}

.btn-red a {
  color: #f1faee;
  font-family: "Montserrat", sans-serif;
  font-size:15px;
  font-weight: 400;
}
